<div class="formCard">
	<form action="" class="innerFormCard">
		<div class="headerFormCard">
			{{{ progressBar }}}
			<h2>{{ cardTitle }}</h2>
			{{{ linkToPage }}}
		</div>
		<div class="fieldsFormCard">
			{{#each fields}}
			{{{ this }}}
			{{/each}}
		</div>
		{{{ button }}}
	</form>
</div>