<div class="formCard">
	<form action="" class="formCard__inner">
		<div class="formCard__header">
			{{{ progressBar }}}
			<h2>{{ cardTitle }}</h2>
			{{{ linkToPage }}}
		</div>
		<div class="formCard__fields">
			{{#each fields}}
			{{{ this }}}
			{{/each}}
		</div>
		{{{ button }}}
	</form>
</div>
