<div class="profileInfo">
	<div class="profileInfo__inner">
		{{#if isLoading}}
		<div class="profileInfo__loading">
			<span>Загрузка данных</span>
		</div>
		{{else if isError}}
		<div class="profileInfo__error">
			<p class="uploadPhotos__errorMessage">{{ errorMessage }}</p>
			<button class="uploadPhotos__retryBtn">Попробовать снова</button>
		</div>
		{{else}}
		<div class="profileInfo__firstInfo firstInfo">
			<span class="firstInfo__firstName">{{ firstName }} </span>
			<span class="firstInfo__lastName">{{ lastName }} </span>
			<span class="firstInfo__age">{{ age }}</span>
		</div>
		<section class="profileInfo__aboutMe aboutMe">
			<h3 class="aboutMe__title">{{ aboutMeTitle }}</h3>
			<p class="aboutMe__text">{{ aboutMeText }}</p>
		</section>
		<section class="profileInfo__interests interests">
			<h3 class="interests__title">{{ interestsTitle }}</h3>
			<div class="interests__container">
				{{#each interests}}
				<span class="interests__item">{{ this }}</span>
				{{/each}}
			</div>
		</section>
		<section class="profileInfo__personData personData">
			<h3 class="personData__title">{{ dataTitle }}</h3>
			<div class="personData__container">
				{{#each data}}
				<div class="personData__item">
					<p class="personData__field">{{ this.title }}</p>
					<p class="personData__content">{{ this.content }}</p>
				</div>
				{{/each}}
			</div>
		</section>
		<section class="profileInfo__pictures uploadPhotos">
			<h3 class="uploadPhotos__title">{{ picturesTitle }}</h3>
			<form id="uploadPhotos__from">
				<div id="photosGridId" class="photosGrid">
					{{#each photos}}
					{{#if this}}
					<div class="photosGrid__item" data-id="{{this.id}}">
						<img src="{{this.src}}" alt="Фото профиля">
						<button type="button" class="uploadPhotos__removePhotoBtn" title="Удалить">×</button>
					</div>
					{{else}}
					<div class="photosGrid__item emptyPhotoSlot">
						<div class="uploadPhotos__addPhotoBtn" title="Добавить фото">+</div>
					</div>
					{{/if}}
					{{/each}}
				</div>
				<div class="uploadPhotos__controls">
					{{!-- <button type="button" class="uploadPhotos__cancelBtn">Отмена</button> --}}
					<button type="submit" class="uploadPhotos__submitBtn" disabled>Сохранить</button>
				</div>
			</form>
		</section>
		{{/if}}
	</div>
</div>
