<div id="idPersonCard" class="personCard" style="background-image: 
	url('{{ srcPersonPicture }}'), 
	url('{{ srcPersonPictureError }}');">
	<div class="personCard__info">
		<p class="personCard__data">{{ personName }} {{ personAge }} лет</p>
		<p class="personCard__description">{{ personDescription }}</p>
	</div>
	<div class="personCard__btns">
		<button data-tooltip="Здесь тултип про предыдущую карточку" class="personCard__iconButton tooltip" id="repeatButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnRepeat.svg" alt="Кнопка Повтор" width="56"
				height="56">
		</button>
		<button data-tooltip="Здесь тултип про дизлайк" class="personCard__iconButton tooltip" id="dislikeButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnDislike.svg" alt="Кнопка Дизлайк" width="70"
				height="70">
		</button>
		<button data-tooltip="Здесь тултип про супер-лайк" class="personCard__iconButton tooltip" id="starButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnStar.svg" alt="Кнопка Звезда" width="56"
				height="56">
		</button>
		<button data-tooltip="Здесь тултип про лайк" class="personCard__iconButton tooltip" id="likeButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnLike.svg" alt="Кнопка Лайк" width="70"
				height="70">
		</button>
		<button data-tooltip="Здесь тултип про что-то" class="personCard__iconButton tooltip" id="lightningButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnLightning.svg" alt="Кнопка Молния" width="56"
				height="56">
		</button>
	</div>
</div>
