<div id="idPersonCard" class="personCard">
	<div class="personCard__photos">
		{{#each srcPersonPhotos}}
		<input type="radio" name="photo-slider" id="photo-{{@index}}" {{#if @first}}checked{{/if}}
			class="personCard__radio">
		<div class="personCard__photo" style="background-image: url('{{this}}'), url('{{../srcPersonPictureError}}');">
		</div>
		{{/each}}
		<div class="personCard__sliderControls">
			{{#each srcPersonPhotos}}
			<label for="photo-{{@index}}" class="personCard__sliderDot"></label>
			{{/each}}
		</div>
		<div class="personCard__arrows">
			<label for="photo-{{prevIndex}}" class="personCard__arrow personCard__arrow--left">❮</label>
			<label for="photo-{{nextIndex}}" class="personCard__arrow personCard__arrow--right">❯</label>
		</div>
	</div>

	<div class="personCard__info">
		<p class="personCard__data">{{ personName }} {{ personAge }} лет</p>
		<p class="personCard__description">{{ personDescription }}</p>
	</div>

	<div class="personCard__btns">
		<button data-tooltip="Предыдущая карточка" class="personCard__iconButton tooltip" id="repeatButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnRepeat.svg" alt="Кнопка Повтор" width="56"
				height="56">
		</button>
		<button data-tooltip="Дизлайк" class="personCard__iconButton tooltip" id="dislikeButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnDislike.svg" alt="Кнопка Дизлайк" width="70"
				height="70">
		</button>
		<button data-tooltip="Суперлайк" class="personCard__iconButton tooltip" id="starButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnStar.svg" alt="Кнопка Звезда" width="56"
				height="56">
		</button>
		<button data-tooltip="Лайк" class="personCard__iconButton tooltip" id="likeButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnLike.svg" alt="Кнопка Лайк" width="70"
				height="70">
		</button>
		<button data-tooltip="В разработке" class="personCard__iconButton tooltip" id="lightningButton">
			<img class="personCard__imgButton" src="media/btn/actionBtnLightning.svg" alt="Кнопка Молния" width="56"
				height="56">
		</button>
	</div>
</div>
