<div class="catalog">
  <div 
    class="catalog__selected"
    tabindex="0"
    aria-haspopup="listbox"
    aria-expanded="{{listVisible}}"
  >
    {{placeholder}}
    <div class="underline"></div>
  </div>

  {{#if listVisible}}
    <div 
      class="catalog__list"
      role="listbox"
    >
      {{#each options}}
        <div 
          class="catalog__option" 
          role="option"
          tabindex="0" 
          data-value="{{value}}"
          data-text="{{text}}"
        >
          {{text}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
