<div class="inputContainer">
	<input class="inputContainer__input" type="{{typeInput}}" id="{{idInput}}" name="{{nameInput}}" placeholder=""
		required autocomplete='{{autocompleteInput}}' />
	<label class="inputContainer__label" for="{{idInput}}">{{labelText}}</label>
</div>
