<div class="inputContainer">
	<input class="inputContainer__input" type="{{typeInput}}" id="{{idInput}}" name="{{nameInput}}" placeholder=""
		required autocomplete='{{autocompleteInput}}' />
	<label class="inputContainer__label" for="{{idInput}}">{{labelText}}</label>
	{{#if isPassword}}
		<button type="button" class="inputContainer__toggle {{idInput}}">
			<img src="media/icons/closedEye.svg" alt="Посмотреть пароль" class="inputContainer__eye-icon eye-icon--closed">
			<img src="media/icons/openedEye.svg" alt="Скрыть пароль" class="inputContainer__eye-icon eye-icon--opened" style="display: none;">
		</button>
	{{/if}}
	<div id="feedback_{{idInput}}" class="inputContainer__feedback feedback">хыхы</div>
</div>
