<div class="inputContainer">
	<input type="{{typeInput}}" id="{{idInput}}" name="{{nameInput}}" placeholder="" required
		autocomplete='{{autocompleteInput}}' />
	<label for="{{idInput}}">{{labelText}}</label>
</div>