<div class="notification {{#if isWarning}}{{else}}success{{/if}}">
	<div class="notification__errorMessage">
		<h1 class="notification__title">{{#if headTitle}}{{headTitle}}{{else}}{{#if isWarning}}Что-то пошло не
			так{{else}}Успех!{{/if}}{{/if}}</h1>
		<p class="notification__text">{{title}}</p>
	</div>
	{{#if isWithButton}}
	<div class="notification__cross">
		<img src="media/icons/cross{{#if isWarning}}{{else}} white{{/if}}.svg" alt="cross">
	</div>
	{{/if}}
</div>
