<div class="card">
	<form action="" class="innerCard">
		<div class="headerCard">
			{{{ progressBar }}}
			<h2>{{ cardTitle }}</h2>
			{{{ linkToPage }}}
		</div>
		<div class="fieldsCard">
			{{#each fields}}
			{{{ this }}}
			{{/each}}
		</div>
		{{{ button }}}
	</form>
</div>